/* ---------------------------------------- 默认css针对16:9标准比例屏幕微信----------------------------------------*/
html,body,article{
	position: fixed;
	padding: 0;
	margin: 0;
	height: 100%!important;
    width: 100%;
	overflow: hidden;
	-webkit-text-size-adjust:100%!important;
}
.none{
	display: none;
}
.hide{
	opacity: 0;
}
a{
	cursor: pointer;
}
a, a:visited{
	color: #fff;
}
section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
}
aside{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 19;
    background-color: rgba(0,0,0,0.85);
}
.full{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img{
	pointer-events: none;
}
.award{
	float: left;
	display: inline-block;
	width: 2rem;
	height: 2rem;
	border-radius: 0.1rem;
	margin: 0 0.2rem 0.4rem;
	position: relative;
	overflow: hidden;
}
.award .name{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0.5rem;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	line-height: 0.5rem;
	font-size: 0.22rem;
	color: #fff;
}
/* public end */

.lighting{
	-webkit-animation: lighting 3s ease infinite;
}
@-webkit-keyframes lighting{
	0%{opacity: 0.3;}
	50%{opacity: 1;}
	100%{opacity: 0.3;}
}
/* anime end */

#getAwardBox .cont{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 10.5rem;
	transform: translate(0, -50%);
}
#getAwardBox .cont .title{
	width: 100%;
	font-size: 0.6rem;
	color: rgb(255,252,98);
	text-align: center;
	padding-bottom: 1rem;
	letter-spacing: 0.1rem;
}
#getAwardBox .awardList{
	width: 100%;
	height: 7rem;
	text-align: center;
	overflow: hidden;
}
#getAwardBox .awardList .award{
	float: none;
}
#getAwardBox .tips{
	text-align: center;
	font-size: 0.3rem;
	color: #fff;
	letter-spacing: 0.03rem;
	padding-top: 0.5rem;
}
#getAwardBox .btn{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 3rem;
	height: 0.6rem;
	background-color: rgb(212,45,39);
	font-size: 0.3rem;
	color: #fff;
	line-height: 0.57rem;
	text-align: center;
	margin-left: -1.5rem;
	border-radius: 0.1rem;
}
#name{
	display: block;
	width: 3.5rem;
	height: 0.7rem;
	background-color: #fff;
	margin: 0 auto;
	font-size: 0.3rem;
	padding: 0 0.3rem;
}
/* getAwardBox end */

.normalBox{
	background-color: rgb(240,193,128);
}
.normalBox .title{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1rem;
	background-color: rgb(134,58,34);
	font-size: 0.35rem;
	color: #fff;
	text-align: center;
	line-height: 1rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
}
.normalBox .awardList{
	position: absolute;
	top: 1.2rem;
	left: 0;
	right: 0;
	bottom: 1.8rem;
	text-align: center;
	overflow: hidden;
}
.normalBox .awardList .scrollBox{
	width: 100%;
	height: auto;
	padding-left: 0.1rem;
	overflow: hidden;
}
.normalBox .tips{
	padding-top: 1.5rem;
	text-align: center;
	font-size: 0.32rem;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.02rem;
}
.normalBox .btnBox{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.6rem;
	background-color: rgb(243,208,134);
}
.normalBox .btnBox .btn{
	width: 3.54rem;
	height: 1.18rem;
	position: relative;
	margin: 0.2rem auto;
}
.normalBox .creatBtn{
	position: fixed;
	right: 0.2rem;
	bottom: 2.5rem;
	width: 0.7rem;
	height: 0.7rem;
}
/* indexBox end */

#tradeBox{
	background-color: rgb(240,193,128);
}
#tradeBox .btnBox .btn{
	float: left;
	transform: scale(0.8,0.8);
}
#tradeBtn{
	position: relative;
	left: 0.2rem;
}
#lockBtn{
	position: relative;
	left: 0.2rem;
}
#tradeBox .cont{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 1.6rem;
}
#tradeBox .cont .otherBox,#tradeBox .cont .myBox{
	position: absolute;
	left: 0;
	width: 100%;
	height: 50%;
}
#tradeBox .cont .otherBox{
	top: 0;
}
#tradeBox .cont .myBox{
	bottom: 0;
}
#tradeBox .cont .title{
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.24rem;
}
#tradeBox .awardList{
	top: 0.7rem;
	bottom: 0.2rem;
}
#tradeBox .awardList.act:after{
	content: "锁定";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.6);
	font-size: 0.6rem;
	line-height: 5;
	letter-spacing: 0.2rem;
	font-weight: bold;
	color: rgba(0,0,0,0.6);
}
/* tradeBox end */

#choseBox .award.act:after{
	content: "●";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	font-size: 0.6rem;
	line-height: 3;
	font-weight: bold;
	color: rgb(240,193,128);
}

#shareBox .share{
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 4.8rem;
}
/*---------------------------------------- 15:9 ----------------------*/

/*---------------------------------------- 16:9 ----------------------*/

/*---------------------------------------- 18:9 ----------------------*/
