/* ---------------------------------------- 默认css针对16:9标准比例屏幕微信----------------------------------------*/
html,body,article{
	position: fixed;
	padding: 0;
	margin: 0;
	height: 100%!important;
    width: 100%;
	overflow: hidden;
	-webkit-text-size-adjust:100%!important;
}
.none{
	display: none;
}
.hide{
	opacity: 0;
}
a{
	cursor: pointer;
}
a, a:visited{
	color: #fff;
}
section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
}
aside{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 19;
    background-color: rgba(0,0,0,0.85);
}
.full{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img{
	/* pointer-events: none; */
}
/* public end */

.lighting{
	-webkit-animation: lighting 3s ease infinite;
}
@-webkit-keyframes lighting{
	0%{opacity: 0.3;}
	50%{opacity: 1;}
	100%{opacity: 0.3;}
}
/* anime end */

#idBox .id{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}
#idBox p{
	text-align: center;
	font-size: 0.3rem;
	line-height: 1.5;
	color: #fff;
	padding-top: 0.5rem;
}
/* idBox end */

#indexBox .btnBox{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2rem;
}
#indexBox .btnBox .btn{
	float: left;
	width: 3rem;
	height: 0.7rem;
	background-color: #333;
	color: #fff;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.7rem;
	border-radius: 0.1rem;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	cursor: pointer;
}
#indexBox .btnBox .btn:last-child{
	float: right;
	margin-right: 0.5rem;
	margin-left: 0;
}

#indexBox .searchBox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2rem;
}
#indexBox .searchBox .selectBox{
	float: left;
	width: 3rem;
	height: 0.7rem;
	background-color: #333;
	color: #fff;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.7rem;
	border-radius: 0.1rem;
	margin-left: 0.5rem;
	margin-top: 0.3rem;
	padding-left: 0.1rem;
}
#indexBox .searchBox .selectBox:after{
	content: "∨";
	color: #fff;
}
#indexBox .searchBox .selectBox select{
	width: 80%;
	height: 100%;
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
}
#indexBox .searchBox .btn{
	position: absolute;
	bottom: 0;
	left: 0.5rem;
	width: 6.5rem;
	height: 0.7rem;
	color: #fff;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.7rem;
	border-radius: 0.1rem;
	background-color: rgb(193,153,209);
}

#listBox{
	position: absolute;
	top: 2rem;
	left: 0;
	right: 0;
	bottom: 2rem;
	overflow: hidden;
}
#listBox .scrollBox{
	width: 100%;
	height: auto;
}
#listBox .block{
	width: 6.5rem;
	height: auto;
	margin: 0.5rem auto;
	border-bottom: 1px solid #333;
	padding-bottom: 0.2rem;
}
#listBox .block .nameBox{
	width: 100%;
	height: 1rem;
}
#listBox .block .nameBox .nickname{
	float: left;
	width: 2rem;
	height: 0.7rem;
	font-size: 0.3rem;
	font-weight: bold;
	line-height: 0.7rem;
	color: #333;
	border-radius: 0.1rem;
	/* background-color: #333; */
	overflow: hidden;/*内容超出后隐藏*/
	text-overflow: ellipsis;/* 超出内容显示为省略号*/
	white-space: nowrap;/*文本不进行换行*/
}
#listBox .block .nameBox .num{
	float: right;
	width: 4rem;
	height: 0.7rem;
	line-height: 0.7rem;
	color: #333;
	font-size: 0.3rem;
	font-weight: bold;
	border-radius: 0.1rem;
	/* background-color: #333; */
}
#listBox .block .listBox p{
	font-size: 0.24rem;
	padding-bottom: 0.3rem;
	color: #333;
}
#listBox .block .listBox p span{
	padding: 0.05rem 0.1rem;
	background-color: #333;
	color: #fff;
	font-size: 0.24rem;
	border-radius: 0.05rem;
	margin: 0 0.2rem;
}
/* indexBox end */

#inputBox{
	background-color: #fff;
}
#inputBox .searchBox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2rem;
}
#inputBox .searchBox .selectBox{
	float: left;
	width: 3rem;
	height: 0.7rem;
	background-color: #333;
	color: #fff;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.7rem;
	border-radius: 0.1rem;
	margin-left: 0.5rem;
	margin-top: 0.3rem;
	padding-left: 0.1rem;
}
#inputBox .searchBox .selectBox:after{
	content: "∨";
	color: #fff;
}
#inputBox .searchBox .selectBox select{
	width: 80%;
	height: 100%;
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
}
#inputBox .searchBox .label{
	float: left;
	margin-left: 0.5rem;
	width: 6.5rem;
	font-size: 0.24rem;
	color: #333;
	padding-top: 0.2rem;
}
#inputBox .searchBox .label.sp{
	color: #F47983;
	font-size: 0.3rem;
}
#inputBox .searchBox .label input{
	width: 3rem;
	border: 1px solid #333;
}
#inputBox #listBox2{
	top: 5rem;
}
#inputBox #listBox2 .block{
	border: none;
}
#inputBox #listBox2 .block span{
	cursor: pointer;
}
#inputBox #listBox2 .block .nameBox{
	width: 6.5rem;
	height: 2rem;
}
#inputBox #listBox2 .block .nameBox input{
	border: 1px solid #333;
	color: #333;
	height: 0.7rem;
	width: 3rem;
	font-size: 0.24rem;
	padding-left: 0.2rem;
	float: left;
}
#inputBox #listBox2 .block .nameBox input:nth-child(2){
	float: right;
}
#inputBox #listBox2 .block .nameBox .changeBtn{
	position: absolute;
	bottom: 0.4rem;
	left: 0;
	width: 6.5rem;
	height: 0.7rem;
	color: #fff;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.7rem;
	border-radius: 0.1rem;
	background-color: rgb(193,153,209);
}
#inputBox .closeBtn{
	position: absolute;
	bottom: 0.2rem;
	left: 0.5rem;
	width: 6.5rem;
	height: 0.7rem;
	color: #fff;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.7rem;
	border-radius: 0.1rem;
	background-color: #333;
}
.addBtn{
	position: absolute;
	top: 4.3rem;
	left: 0.5rem;
	width: 6.5rem;
	height: 0.7rem;
	color: #fff;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.7rem;
	border-radius: 0.1rem;
	background-color: rgb(129, 210, 238);
}
/* inputBox end */

#listBox2{
	position: absolute;
	top: 2rem;
	left: 0;
	right: 0;
	bottom: 2rem;
	overflow: hidden;
}
#listBox2 .scrollBox{
	width: 100%;
	height: auto;
}
#listBox2 .block{
	width: 6.5rem;
	height: auto;
	margin: 0.5rem auto;
	border-bottom: 1px solid #333;
	padding-bottom: 0.2rem;
}
#listBox2 .block .nameBox{
	width: 100%;
	height: 1rem;
}
#listBox2 .block .nameBox .nickname{
	float: left;
	width: 2rem;
	height: 0.7rem;
	font-size: 0.3rem;
	font-weight: bold;
	line-height: 0.7rem;
	color: #333;
	border-radius: 0.1rem;
	/* background-color: #333; */
	overflow: hidden;/*内容超出后隐藏*/
	text-overflow: ellipsis;/* 超出内容显示为省略号*/
	white-space: nowrap;/*文本不进行换行*/
}
#listBox2 .block .nameBox .num{
	float: right;
	width: 4rem;
	height: 0.7rem;
	line-height: 0.7rem;
	color: #333;
	font-size: 0.3rem;
	font-weight: bold;
	border-radius: 0.1rem;
	/* background-color: #333; */
}
#listBox2 .block .listBox2 p{
	font-size: 0.24rem;
	padding-bottom: 0.3rem;
	color: #333;
}
#listBox2 .block .listBox p span{
	padding: 0.05rem 0.1rem;
	background-color: #333;
	color: #fff;
	font-size: 0.24rem;
	border-radius: 0.05rem;
	margin: 0 0.2rem;
}
/*---------------------------------------- 15:9 ----------------------*/

/*---------------------------------------- 16:9 ----------------------*/

/*---------------------------------------- 18:9 ----------------------*/
